* { /*this is to highlight boxes*/
  outline: 1px solid red !important;
}

.mylogo {
  margin-top:20px;
}

.separator {
  background-color: silver;
  height: 1px;
}

.work-img {
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
}