* { 
  /*this is to highlight boxes*/
  outline: 1px solid red !important;
}

.mylogo {
  margin-top:20px;
}

.ver-separator {
  background: linear-gradient(to right, rgba(192,192,192,1), rgba(192,192,192,0)); /*css3 fading line*/
  /*background-color: silver;*/
  height: 1px;
}

.img-study {
  position: relative;
  margin: auto;
  height: 200px;
  max-width: none;
}

/*NOTES
- center images in main
- set height for images in main (min? max?)
*/