* { 
  /*this is to highlight boxes*/
  outline: 1px solid red !important;
}

.mylogo {
  margin-top:20px;
}

.ver-separator {
  background: linear-gradient(to right, rgba(192,192,192,1), rgba(192,192,192,0)); /*css3 fading line*/
  /*background-color: silver;*/
  height: 1px;
}

.fig-study {
  overflow: hidden;
}

.img-study {
  position: relative;
  margin: auto;
  display: inline-block;
  border: 1px solid #dddddd;
}

.cap-study {
  position: absolute;
  bottom: 10%;
  max-width: 75%;
  background: rgba(0,0,0,0.8);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

/*NOTES
- center images in main
- set height for images in main (min? max?)
*/